* {
    font-family: 'Poppins', sans-serif;
}

/* default input style */
input {
    background: #F2F2F2;
    border-radius: 8px;
}

input::placeholder {
    color: #B0B0B0;
}

.default-backgound-color {
    background: radial-gradient(54.98% 54.98% at 50% 50%, #FFFFFF 0%, #3CD1E6 100%);
}

.tiny-island {
    width: 180px;
    float: left;
    position: absolute;
    height: auto;
}

/* this is empty class for marking place */
.place {}

.current-place {}